.float-r {
    float: right;
}
.lh-2-5 {
    line-height: 2.5;
}
.m-r-10 {
    margin-right: 10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider.round {
    border-radius: 34px;
}
.slider {
       position: absolute;
    cursor: pointer;
    top: -5px;
    left: 0;
    right: 0;
    bottom: 5px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider.round:before {
    border-radius: 50%;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
#estimate-equals .table td:nth-child(3),
#estimate-equals .table th:nth-child(3){
    display: none;
}
#estimate-equals .table th{
    border-top: none;
}
#download-result{
    color:#666666;
}
.title-chart{
    font-size: 18px;
    font-weight: 500;
    color:#666666;
    margin-bottom: 30px;
}
#estimate-equals .table {
    color: #333333;
    margin-top: 30px;
}
#estimate-equals .table tr:last-child{
    border-bottom: 1px solid #dee2e6;
}
#estimate-equals .table thead th {
  padding: 0;
    vertical-align: middle;
    font-size: 16px;
}
.download_data{
    background: #F7F7F7;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    padding: 0 20px;
    height: 30px;
    margin-left: 20px;
}
.download_data label{
    line-height: 28px;
}
.text-tc{
    font-size: 20px;
    font-weight: 500;
    color:#4DB769;
}
.text-cc{
    font-size: 20px;
    font-weight: 500;
    color:#4E9DF9;
}
.text-tc + p,
.text-cc + p{
    font-size: 16px;
    font-weight: 400;
    color:#999999;
}
input:focus + .slider {
    box-shadow: 0 0 1px #4DB769;
}
input:checked + .slider {
    background-color: #4DB769;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.myChartDiv ul {
    cursor: pointer;
    list-style: none;
    padding-left: 0;
}
.myChartDiv ul li {
    display: inline-block;
    padding: 0 5px;
}
[class="0-legend"] li:first-child span,
#myChartLegend-1 ul li:first-child span{
    background-color: #DC4C4C !important;
}
.myChartDiv ul li.hidden {
    text-decoration: line-through;
}
.myChartDiv ul li span {
    border-radius: 5px;
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 10px;
}
#myChartLegend-2 ul li:first-child span{
    background-color: #4DB769 !important;
}
#myChartLegend-2 ul li:nth-child(2) span{
    background-color: #4E9DF9 !important;
}
.chart-content-tab{
   /* padding: 0px 20px;*/
}