.container{
    max-width:100%;
}

.evn-main h3{
font-size: 20px;
    color: #4DB769;
}
select{
    background: transparent;
outline: none;
}
input{
outline: none;
}
.mapevn-left {
    border: 1px solid #DFDFDF;
    /*width: 40%;*/
    background-color: #f5f4f5;
}
.mapevn-right{
border: 1px solid #DFDFDF;
/*width: 60%;*/
padding: 15px 0;
}
.mapevn-rightt{
border-left: none !important;
border: 1px solid #DFDFDF;
width: 60%;
padding: 20px;
}
.map-evn{
    width: 100%;
    display: inline-flex;
    /*height: 620px;*/
}
.evn-main{
  position: relative;
max-width: 1170px;
padding:0px 5px;
margin: 40px auto;
}
.mapevn-right h4{
margin: 10px 0;
color: #333333;
font-weight: 600;
font-size: 14px;
line-height: 14px;
}
.mapevn-right input{
outline: none;
/*	padding: 0 10px;*/
width: 100%;
height: 40px;
border: 1px solid #DFDFDF;
}
.mapevn-right p{
margin: 10px 0;
color: #666666;
font-size: 14px;
}
.mapevn-right h5{
text-align: left;
    margin: 15px 0;
    color: #666666;
    font-size: 13px;
}
.tab-diachi {
width: 100%;
display: inline-flex;
}
.diachi-tinh{
    margin-bottom:10px;
}
.diachi-tinh select{
outline: none;
padding: 0 5px;
width: 100%;
height:40px;
border: 1px solid #DFDFDF;
}
.diachi-quan {
}
.diachi-quan select{
outline: none;
padding: 0 5px;
width: 100%;
height:40px;
border: 1px solid #DFDFDF;
}
.env-tieptuc{
color: white;
text-transform: uppercase;
margin-top: 10px;
cursor: pointer;
border: none;
width: 100%;
height: 40px;
background: #4DB769;
border-radius: 4px;
}
.evn-hotro{
position: relative;
}
.form-hotro{
padding: 0px 20px;

/* top: 0; */
background: white;
border-radius: 4px;
border: none;

/*width: 600px;*/
/*min-height: 390px;*/
}
.form-hotro h3{
color: #4DB769;
text-align: center;

font-weight: bold;
font-size: 32px;
}
.form-hotro p{
margin: 15px 0;
font-size: 14px;
color: #666666;
text-align: center;
}
.form-hotro input{
margin: 10px 0;
outline: none;
padding: 0 10px;
width: 100%;
height: 35px;
border: 1px solid #DFDFDF;
}
.form-hotro select, .thamsosanxuat select, .select_lichtralai select, .thamsosanxuat_code select{
    margin: 10px 0;
    outline: none;
    padding: 0 5px;
    width: 100%;
    height: 35px;
    border: 1px solid #DFDFDF;
    color: #666666;
}
/*range*/
.range {
-webkit-appearance: none;
vertical-align: middle;
outline: none;
border: none;
padding: 0;
background: none;
}
.range::-webkit-slider-runnable-track {
background-color: #d7dbdd;
height: 4px;
border-radius: 3px;
border: 1px solid transparent;
}
.range[disabled]::-webkit-slider-runnable-track {
border: 1px solid #d7dbdd;
background-color: transparent;
opacity: 0.4;
}
.range::-moz-range-track {
background-color: #d7dbdd;
height: 6px;
border-radius: 3px;
border: none;
}
.range::-ms-track {
color: transparent;
border: none;
background: none;
height: 6px;
}
.range::-ms-fill-lower { 
background-color: #d7dbdd;
border-radius: 3px;
}
.range::-ms-fill-upper { 
background-color: #d7dbdd;
border-radius: 3px;
}
.range::-ms-tooltip { display: none; /* display and visibility only */ }
.range::-moz-range-thumb {
border-radius: 20px;
height: 18px;
width: 18px;
border: none;
background: none;
background-color: #606670;
}
.range:active::-moz-range-thumb {
outline: none;
}
.range::-webkit-slider-thumb {
    cursor: pointer;
    background: url(../images/node.png);
    background-size: 100%;
    -webkit-appearance: none !important;
    border-radius: 100%;
    height: 32px;
    width: 32px;
    margin-top: -12px;
}
.range[disabled]::-webkit-slider-thumb {
background-color: transparent;
border: 1px solid #d7dbdd;
}
.range:active::-webkit-slider-thumb {
outline: none;
}
.range::-ms-thumb { 
border-radius: 100%;
background-color: #606670;
height: 18px;
width: 18px; 
border: none;
}
.range:active::-ms-thumb {
border: none;
}
output {
/*  border: 1px solid #d7dbdd;*/
color: #333;
font-family: 'Lato', sans-serif;
font-size: 14px;
border-radius: 3px;
}
.container--dark {
background-color: #11181d;
h6 {
color: #ccc;
}
.range::-webkit-slider-runnable-track {
background-color: #606670;
}
.range[disabled]::-webkit-slider-runnable-track {
border: 1px solid #606670;
background-color: transparent;
}
.range::-moz-range-track {
background-color: #606670;
border: none;
}
.range::-ms-fill-lower { 
background-color: #606670;
}
.range::-ms-fill-upper { 
background-color: #606670;
}
output {
border: 1px solid #2b3039;
color: #aaa;
font-family: 'Lato', sans-serif;
font-size: 12px;
padding: .4em .6em;
border-radius: 3px;
}
.range::-webkit-slider-thumb {
background-color: #aaa;
box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.range[disabled]::-webkit-slider-thumb {
background-color: transparent;
border: 1px solid #606670;
box-shadow: none;
}
.range::-moz-range-thumb {
background-color: #aaa;
}
.range::-ms-thumb { 
background-color: #aaa;
}
}
.env-2{
width: 100%;
display: inherit;
display: inline-flex;
}
.dientichlap {
padding-right: 20px;
width: 50%;
}
.nhacungcap {
width: 50%;
}
.dtl1-title{
width: 100%;
display: inline-flex;
height: 26px;
}
.dtvtitle-1{
width: 83%;
}
.dtvtitle-2{
    width: 70px;
    text-align: right;
    font-weight: bold;
}
.mapevn-rightt p{
margin: 10px 0;
font-size: 14px;
color: #666666;
}
.mapevn-rightt h4{
margin: 10px 0 0 0;
font-size: 16px;
font-weight: 500;
color: #333333;
}
#left-map {
    display: block;
}
#left-home {
    display: none;
}
.dtvtitle-1{
font-weight: 500;
font-size: 14px;
color: #333333;
}
.tech-mono.active, .tech-poly.active, .type-mono.active, .type-poly.active, .type-thuongmai.active, .mono.active {
    background: #4DB769 !important;
    color: #fff;
}

.tech-monoo.active, .tech-polyy.active, .type-monoo.active, .type-polyy.active, .tech-polymono.active, .tech-none.active {
    background: #4DB769 !important;
    color: #fff;
}
.mono{
  height: 32px;
  cursor: pointer;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #DFDFDF !important;
  border-radius: 99px;
  border: none;
   padding: 0 15px; 
  font-size: 16px;
  color: #666666;
  width: auto;
}
.poly{
    cursor: pointer;
    background: white;
    outline: none;
    margin-right: 16px;
    border: 1px solid #DFDFDF;
    border-radius: 99px;
     padding: 0 15px; 
    font-size: 14px;
    color: #666666;
    width: auto;
    height: 32px;
}
.dtl-1{
margin: 15px 0;
    height: 65px;
}
.dtl1-range{
/*margin: 10px 0;*/
}
.dtl1-range input{
width: 100%;
}
.dtl1-range select{
outline: none;
height: 40px;
width: 100%;
padding: 0 5px;
border: 1px solid #DFDFDF;
}
.dtl1-range input{
outline: none;
height: 40px;
width: 100%;
border: 1px solid #DFDFDF;
}
.mkh-adress{
width: 100%;
display: inline-flex;
}
.mkh{
width: 50%;
}
.adress{
width: 50%;
}
.dtl1-range p{
font-weight: bold;
}
#exTab1 .tab-content {
color : white;
background-color: #428bca;
padding : 5px 15px;
}
#exTab2 h3 {
color : white;
background-color: #428bca;
padding : 5px 15px;
}
/* remove border radius for the tab */
#exTab1 .nav-pills > li > a {
border-radius: 0;
}
/* change border radius for the tab , apply corners on top*/
#exTab3 .nav-pills > li > a {
border-radius: 4px 4px 0 0 ;
}
#exTab3 .tab-content {
color : white;
background-color: #428bca;
padding : 5px 15px;
}
.pd-40{
padding: 40px 0;
}
.tab-img{
display: inline-flex;
width: 100%;
}
.tab-left{
	width: 960px;
}
.tab-right{
	width: 320px;
    padding-left: 30px;
}
.evn-main h2{
font-size: 20px;
text-transform: uppercase;color: #4DB769;
margin: 20px 0;
}
.tab-nhacungcap{
width: 100%;
display: inline-flex;
}
.ncc-1{
text-align: center;
width: 33%;
}
.ncc-2{
text-align: center;
width: 34%;
}
.ncc-content2{
padding-bottom: 25px;
background: #F7F7F7;
}
.evn-chitet{
margin-top: 30px;
border:none;
text-transform: uppercase;
background: #4DB769;
border-radius: 4px;
width: 105px;
height: 38px;
font-size: 14px;
color: #FFFFFF;
}
.img-bg{
width: 100%;
    text-align: center;
    /*height: 150px;*/
}
.table td, .table th {
text-align: center;
width: 25%;
}
.tabmin-1{
cursor: pointer;
border: none;
background: #4DB769;
border-radius: 4px;
padding-top: 20px;
width: 225px;
margin: 0 15px;
height: 130px;
text-align: center;
}
.tab-min{
margin-top: 30px;
}
.tabmin-1 p{
font-size: 16px;
color: #FFFFFF;
margin: 0;
}
.tabmin-1  h3{
font-weight: 500;
font-size: 36px;
color: #FFFFFF;
margin: 0;
}
.phuonganhotro{
	height: 30px;
}

.none-pad-mar {
    margin:0 !important;
    padding: 0 10px !important;
}

.tbl-list-repayment {
    width: 100%;
}

.tbl-list-repayment th {
    background: none repeat scroll 0 0 #ECECEC;
    color: #303030;
    font-size: 14px;
    padding: 7px 5px;
}

.ui-slider {
    background: #4DB769 !important;
}

.ui-slider-range {
    background-color: #ffdc8d !important;
}

#tylecaodiem, #tylecaodiem_code {
    float: right;
    height: 100%;
    background: #ff2424;
    border-radius: 0 4px 4px 0;
}

.bottom-form-hotro {
    border:1px solid #dedede;
}

.bottom-form-hotro h3 {
    padding-top:10px;
    font-size:25px;
}

.btn-active {
    background: #4DB769 !important;
    color: #fff;
}

.max-w-1280{
    max-width:1280px;
}

.ul-content
{
    list-style:none;
}

.ul-content li {
    background: url(images/sprite-2.gif) repeat-x;
    background-repeat: no-repeat;
    padding: 4px 0 2px 15px !important;
    background-position: 0 -287px !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4DB769;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4DB769;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

.marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 30s linear infinite;
}

    .marquee:hover {
        animation-play-state: paused
    }

/* Make it move */
@keyframes marquee {
    0% {
        text-indent: 500px
    }

    100% {
        text-indent: -612px;
    }
}

.ui-slider-horizontal .ui-slider-handle {
   top: -.7em;
    margin-left: -.6em;
}

.ui-slider .ui-slider-handle {
        cursor: pointer;
    background: white;
    border-radius: 7px;
    border: 2px solid #4DB769;
    /* border: 1px solid green; */
    width: 1.7em;
    height: 1.7em;
    outline: none;
}

.margin-auto{
    margin: 0 auto;
}

.blink-bg {
    color: #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground {
    0% {
        background-color: #10c018;
    }

    25% {
        background-color: #1056c0;
    }

    50% {
        background-color: #ef0a1a;
    }

    75% {
        background-color: #254878;
    }

    100% {
        background-color: #04a1d5;
    }
}

.dvi-tinh {
    color: #666666;
    font-size: 14px;
    font-weight: normal;
}